@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #e3e6e3;
}

*{
    margin: 0;
    padding: 0;
}

.navbar-brand{
    font-weight: 700;
    font-size: 30px;
}

.nav-link{
    font-size: 15px;
    padding: 6px;
}

h2{
    color: rgb(72, 195, 206);
}

.sectionAB{
   height: auto;
    display: flex;
    justify-content: center;
    margin: 50px 20px;
    width: auto;
}

h4{
    color: rgb(162, 57, 194);
}

.leftsec{
    margin-right: 10px;
    width: 70%;
    
}

.sectop{
    padding:10px 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
   
}

.secmid{
    padding:10px 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
   
}

.secbtm{
    padding:10px 20px;
    background-color: white;
    border-radius: 10px;
    
}

.rightsec{
    margin-left: 10px;
    border: 2px;
    width: 30%;
   
    
}

.topright{
    padding:17px 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 15px;
   
}

.btmright{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.gmap{
   height:100%;
   width: 100%;
   
}

footer{
    background-color: white;
    height: auto;
   margin: 30px;
   width: fit-content;
   text-align: center;
}
